/*FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');

/*GENERAL STYLING*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px #000;
}

/*BODY*/
body{
    background-color: #283faa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CONTENT*/
div{
    display: flex;
    flex-direction: column;
}
div h1{
    font-weight: 600;
    font-size: 45px;
}
div button{
    color: #000;
    text-shadow: 1px 1px 1px transparent;
    font-size: 20px;
    position: relative;
    margin: 15px auto;
    padding: 10px 35px;
    font-weight: 700;
    border: 2.5px #000000 solid;
    border-radius: 50px;
    letter-spacing: 1.5px;
    cursor: pointer;
    outline: none;
}
div h3{
    margin-top: 5px;
}
/*MOBILE VERSION*/
@media (max-width: 600px){
    body{
        transform: scale(85%);
    }
}